.orderItemsTable th:nth-child(2),
.orderItemsTable td:nth-child(2) {
  text-align: center;
  width: 70px;
}

.orderItemsTable th:nth-child(3),
.orderItemsTable th:nth-child(4),
.orderItemsTable td:nth-child(3),
.orderItemsTable td:nth-child(4) {
  text-align: right;
  width: 110px;
}
